body {
    margin: 0;
    padding: 0;
    background-color: black;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

p {
    font-family: 'Roboto-type', sans-serif;
    font-size: 12px;
  }

.post {

    background-color: white;
    width: 25rem;
    /*margin-left: auto;
    margin-right: auto;*/
    
}
.post-head {
    display: flex;
    justify-content: space-between;
    padding: 3px;
}
.post-head__left{
    display: flex;
    justify-content: space-between;
    
}
 /*.post-head > div {
 border: 1px solid red;

}*/
.post .post__icons--text p{
    /*border: 1px solid greenyellow;*/
    margin: 0px;
    text-align: left;
    margin-left: 3px;
    
  }

.post-footer {
    /*padding: 10px 10px 10px 10px;*/
    display: flex;
    /*border: 1px solid purple;*/
    flex-direction: column;
}
.post-footer > div {
    display: flex;    
}
.post-footer > .post__footer-rigth {
    /*padding: 10px 10px 10px 10px;*/
    display: flex;
    /*border: 1px solid yellow;*/
    justify-content: space-between;
    padding: 5px;
    
}
.post-footer {
    
    /*border: 1px solid blue;   */

    margin: 5px;
}